<div id="rating"></div>

<script type="text/javascript">
$(function()
{
	// on load, fade in, and load ratings and similars
	$('#decisions').fadeIn(400, function()
	{
		$('#rating').load('{{ path('get_rating') }}');
	});
});
</script>

