{% extends 'MyPadBundle::layout.html.twig' %}


{% block title %}Home | {{ parent() }}{% endblock %}


{% block content %}
	<div id="left" class="sidebar"></div>
	<div id="middle" class="mainbar"></div>
	<div id="right" class="sidebar"></div>
	
	<script type="text/javascript">
	$(function() {
		// load library stats
		$('#left').load('/stats/load');
		
		$('#middle').load('{{ path('play') }}');
	});
	</script>
{% endblock %}